/* Font texte */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

/* Font titre */

@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

/* Variables */

 :root {
    --couleur: #00ff00;
    --accent: #009f00;
    --fond: #020202;
    --texte-clair: #f1f1f1;
    --texte-sombre: #151515;
}


/* CSS reset */

*,
 ::after,
 ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.1ms;
}


/* Page principale */

 ::-webkit-scrollbar {
    display: none;
}

 ::selection {
    background-color: var(--couleur);
    color: var(--texte-sombre);
}

 ::-moz-selection {
    background-color: var(--couleur);
    color: var(--texte-sombre);
}

pre {
    color: var(--texte-clair);
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--fond);
}

.header {
    display: flex;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 14vh;
    background-color: var(--fond);
    background: linear-gradient( 70deg, rgba(0, 0, 0, 1) 0%, rgba(2, 2, 2, 1) 45%, rgba(0, 255, 0, 1) 100%);
    border-bottom: 4px solid var(--couleur);
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0px 10px 15px 2px rgba(0, 255, 0, 0.3); */
}

.header .titre {
    display: flex;
    margin-left: 20px;
    padding: 10px;
    align-items: center;
    cursor: default;
}

.header .titre .logo {
    margin-right: 15px;
    padding: 5px;
    width: 50px;
    height: 50px;
    border: 2px solid var(--couleur);
    border-radius: 100%;
    transform: rotate(0);
    box-shadow: 0px 0px 15px 5px rgba(0, 255, 0, 0.35);
}

.header .titre a {
    text-decoration: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.header .titre i.gauche {
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-size: 2rem;
    color: var(--couleur);
}

.header .titre i.droite {
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-size: 2rem;
    color: var(--accent);
}

.header .titre i.droite::after {
    content: "/";
    font-weight: thin;
    color: var(--couleur);
}

.header .sous-titre {
    font-family: "Kanit", sans-serif;
    font-style: normal;
    font-size: 2rem;
    color: var(--texte-clair);
}

.contenu {
    margin-top: 30px;
    display: flex;
<<<<<<< HEAD
    width: 100%;
=======
>>>>>>> 382a6ef5c4467a2723a8555bc672a400dfd781d0
}

.contenu .nav {
    display: flex;
    margin: 0px;
<<<<<<< HEAD
    width: 25%;
=======
    width: 15%;
>>>>>>> 382a6ef5c4467a2723a8555bc672a400dfd781d0
    height: 100%;
    border-right: 4px solid var(--couleur);
    align-content: center;
}

.contenu .nav ul {
    list-style: none;
<<<<<<< HEAD
    line-height: 17.5px;
=======
>>>>>>> 382a6ef5c4467a2723a8555bc672a400dfd781d0
    width: 100%;
}

.contenu .nav ul li {
    width: 100%;
    height: 66px;
    padding: 10px;
    color: var(--couleur);
    border-bottom: 2px solid var(--accent);
    background-color: var(--fond);
    cursor: pointer;
    transition: all 300ms ease;
}

.contenu .nav ul li.actif {
    background: var(--couleur);
    color: var(--texte-sombre);
    box-shadow: 10px 0px 25px -5px rgba(0, 255, 0, 0.95);
}

.contenu .nav ul li:nth-child(1) {
    border-top: 4px solid var(--couleur);
}

<<<<<<< HEAD
.contenu .nav ul li:last-child {
=======
.contenu .nav ul li:nth-child(8) {
>>>>>>> 382a6ef5c4467a2723a8555bc672a400dfd781d0
    border-bottom: 4px solid var(--couleur);
}

.contenu .nav ul li:hover {
    background: var(--couleur);
    color: var(--texte-sombre);
    transition: all 300ms ease;
}

.contenu .nav ul li .nom-groupe {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.2rem;
}

.contenu iframe.iframe {
    width: 100%;
    margin-left: 10px;
    border-left: 4px solid var(--couleur);
    border-bottom: 4px solid var(--couleur);
    border-top: 4px solid var(--couleur);
}

.footer {
    width: 100%;
<<<<<<< HEAD
    height: 20px;
=======
    height: 40px;
>>>>>>> 382a6ef5c4467a2723a8555bc672a400dfd781d0
}

.footer .texte-footer {
    color: var(--texte-clair);
    font-family: 'Kanit', sans-serif;
<<<<<<< HEAD
    margin-top: 5px;
=======
    margin-top: 4px;
>>>>>>> 382a6ef5c4467a2723a8555bc672a400dfd781d0
}


/* Page Iframe */

<<<<<<< HEAD
#header {
    position: fixed;
    top: 0px;
    z-index: 1;
    height: 50px;
    width: 100%;
    overflow: hidden;
    display: flex;
    border-bottom: 4px solid var(--couleur);
}

#header #titre {
    font-size: larger;
    color: var(--couleur);
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    margin: 5px;
    padding: 5px;
}

#nav {
    position: fixed;
    left: 0;
    top: 50px;
=======
#nav {
    position: fixed;
    left: 0;
    top: 0;
>>>>>>> 382a6ef5c4467a2723a8555bc672a400dfd781d0
    width: 25%;
    height: 100%;
    border-right: 4px solid var(--couleur);
}

.titre-categorie {
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    color: var(--texte-clair);
    letter-spacing: 1.5px;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.titre-categorie::after {
    content: "_ ";
    animation: blinkingBeforeEffect 1.5s forwards infinite;
    transition: 200ms;
}

#nav .participants {
    width: 100%;
    height: 50px;
    border-bottom: 4px solid var(--couleur);
    text-align: start;
}

#nav .participants h1 {
    padding-top: 3px;
}

#nav .resume {
    width: 100%;
    height: 42.5%;
    border-bottom: 4px solid var(--couleur);
}

#nav .podcast {
    width: 100%;
    height: 42.5%;
}

#contenu {
    position: fixed;
    right: 0;
<<<<<<< HEAD
    top: 50px;
=======
    top: 0;
>>>>>>> 382a6ef5c4467a2723a8555bc672a400dfd781d0
    width: 75%;
    height: 100%;
}

#contenu ul {
    display: flex;
    height: 50px;
    width: 100%;
    list-style: none;
    text-align: center;
    border-bottom: 4px solid var(--couleur);
}

#contenu ul li {
    border-right: 4px solid var(--couleur);
    width: 100%;
    color: var(--texte-clair);
    text-align: center;
    font-size: larger;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}

#contenu ul li:last-child {
    border-right: none;
}

#contenu .wrap-resume {
    width: 100%;
    height: 42.5%;
    border-bottom: 4px solid var(--couleur);
}

#contenu .wrap-resume .texte-resume {
    color: var(--texte-clair);
    font-size: normal;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}

#contenu .wrap-podcast {
    width: 100%;
    height: 42.5%;
}

<<<<<<< HEAD
#contenu .wrap-podcast .texte-podcast {
    color: var(--texte-clair);
    font-size: normal;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}

#contenu .wrap-podcast audio.player {
    position: relative;
    width: 32%;
    height: 20%;
=======
#contenu .wrap-podcast audio.player {
    position: relative;
    width: 30%;
    height: 35px;
>>>>>>> 382a6ef5c4467a2723a8555bc672a400dfd781d0
    background-color: var(--couleur);
    border: none;
    border-radius: 45px;
    margin: 10px;
}

#contenu .wrap-podcast audio.player::-webkit-media-controls-panel {
    background: var(--couleur);
}

#contenu .wrap-podcast audio.player::-webkit-media-controls-current-time-display,
#contenu .wrap-podcast audio.player::-webkit-media-controls-time-remaining-display,
#contenu .wrap-podcast audio.player::-webkit-media-controls-fullscreen-button,
#contenu .wrap-podcast audio.player::-webkit-media-controls-volume-slider-container,
#contenu .wrap-podcast audio.player::-webkit-media-controls-volume-slider,
#contenu .wrap-podcast audio.player::-webkit-media-controls-seek-back-button,
#contenu .wrap-podcast audio.player::-webkit-media-controls-seek-forward-button,
#contenu .wrap-podcast audio.player::-webkit-media-controls-toggle-closed-captions-button,
#contenu .wrap-podcast audio.player::-webkit-media-controls-return-to-realtime-button,
#contenu .wrap-podcast audio.player::-webkit-media-controls-settings-button {
    display: none;
}

#contenu .wrap-podcast audio.player::-webkit-media-controls-mute-button,
#contenu .wrap-podcast audio.player::-webkit-media-controls-play-button,
#contenu .wrap-podcast audio.player::-webkit-media-controls-timeline-container,
#contenu .wrap-podcast audio.player::-webkit-media-controls-timeline,
#contenu .wrap-podcast audio.player::-webkit-media-controls-rewind-button {
    color: var(--fond);
}

.mq-iframe-content {
    display: none;
}

@keyframes blinkingBeforeEffect {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

<<<<<<< HEAD
@media (max-width: 905px) {
=======
@media (max-width: 605px) {
>>>>>>> 382a6ef5c4467a2723a8555bc672a400dfd781d0
    .header {
        background: #000000;
    }
    .header .titre i.gauche::before {
        content: "";
    }
    .header .titre i.droite::after {
        content: "/";
    }
    .header .sous-titre i.droite::after {
        content: "";
    }
    .contenu {
        flex-direction: column;
    }
    .contenu .nav {
        margin: 0px;
        width: 100%;
        border: none;
    }
    .contenu iframe.iframe {
        margin-left: 0px;
        margin-top: 15px;
        border-left: none;
        height: 500px;
    }
}

<<<<<<< HEAD
@media (max-width: 940px){
    #contenu .wrap-podcast audio.player {
        width: 55%;
    }
}

@media (max-width: 705px) {
    .titre-categorie::after {
        content: none;
        animation: none;
    }
}

@media (max-width: 660px) {
    .titre-categorie {
        font-size: 13pt;
    }
}

@media (max-width: 550px) {
    .titre-categorie {
        padding: 1px;
    }
}

@media (max-width: 500px) {
    .header .titre {
        flex-wrap: wrap;
        line-height: 22px;
    }
    .header .titre .sous-titre {
        margin-left: 65px;
    }
    .header .titre .sous-titre:before {
        content: "> ";
    }
    iframe.iframe {
        display: none;
    }
    .footer {
        height: 40px;
        position: absolute;
        bottom: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

@media (max-width: 310px) {
    .header .titre .sous-titre {
        font-size: x-large;
    }
=======
@media (max-width: 375px) {
    .header {
        background: #000000;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .header .titre i.gauche {
        font-size: normal;
    }
    .header .titre i.droite {
        font-size: normal;
    }
    .header .titre i.droite::after {
        content: '';
    }
    .header .titre .sous-titre {
        display: none;
    }
    #nav {
        display: none;
    }
    #contenu {
        display: none;
    }
    .mq-iframe-content {
        display: block;
    }
    .mq-iframe-content .wrap-participants {
        width: 100%;
        border-bottom: var(--couleur);
    }
>>>>>>> 382a6ef5c4467a2723a8555bc672a400dfd781d0
}